Username	First Name	Last Name	Email	Password	Admin
scott_summers	Scott	Summers	scott.summers@schoolforgiftedyoungsters.com	ilovejean	1
kitty_pryde	Kitty	Pryde	kitty.pryde@schoolforgiftedyoungsters.com	passthrough	0
